/* 
 * lots of inspiration from:
 * https://github.com/OriginCode/dotfiles 
 * https://github.com/lgaboury/Sway-Waybar-Install-Script 
 * https://github.com/lingllqs/dotfiles 
 */

@define-color accent rgba(0, 0, 0, 0.55);
@define-color border transparent;
@define-color color  white;

/* @define-color err    #802000; */
@define-color warn   #785e3a;

window#waybar {
    background-color: transparent;
}

* {
    transition: none;
    border: none;
    border-radius: 5px;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12px;
    min-height: 0;
}

tooltip {
    background-color: black;
}

tooltip label {
    color: white;
    text-shadow: none;
}

#workspaces {
    padding: 0 3px;
    background-color: @accent;
    border: none;
}

#workspaces button {
    border-radius: 0;
    padding: 0px 2px;
    font-weight: 100;
    transition: font-weight 0.05s ease-in;
    transition-delay: 50ms;
}

#workspaces button.focused {
    color: white;
    font-weight: 900;
}

#workspaces button.urgent {
    color: red;
    font-weight: 900;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: inherit;
    background: transparent;
    background-color: transparent;
}

#wireplumber.muted {
}

#cpu,
#load,
#memory,
#mode,
#wireplumber,
#clock,
#tray,
#battery,
#scratchpad,
#mpris {
    padding: 0px 7px 0px 7px;
    background-color: @accent;
}

#mpris {
    background-color: #804a00;
}

#battery {
    padding: 0px 13px 0px 5px;
}

#load.warning,
#memory.warning {
    color: #ffa500;
}

#load.critical,
#memory.critical,
#battery.critical:not(.charging) {
    color: #ff4000;
}

#mode {
    background-color: #e63900;
    color: black;
}
